.App .container {
  padding: 20px 0;
}

.App h1 {
  text-align: center;
  color: rgb(159, 29, 102);
  font-size: 40px;
  font-family: "Platypi", serif;
  font-weight: 800;
  padding: 10px;
}

@media (max-width: 800px) {
  .App h1 {
    font-size: 30px;
  }

  .App .container {
    padding: 30px;
  }
}
