.Movies .col-md-4 {
  margin-bottom: 15px;
  font-family: "Platypi", serif;
}

.Movies h5 {
  text-align: center;
  color: rgba(7, 3, 44, 1);
  font-weight: bold;
}

.Movies em {
  font-weight: bold;
  color: rgba(7, 3, 44, 1);
}

.Movies .paragraph {
  color: #d8baff;
  background-color: #9f1d66;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  padding: 5px 10px;
  margin: 0;
}

.Movies h6 {
  font-size: 16px;
}

.Movies .plot {
  margin: 0;
}

@media (max-width: 900px) {
  .Movies h5 {
    font-size: 14px;
  }
  .Movies small,
  .Movies h6 {
    font-size: 12px;
  }
  .Movies .paragraph,
  .Movies em {
    font-size: 13px;
  }
}
